
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class= "container" >
    <h5> Trang không tồn tại 404</h5>
    <img src="https://w7.pngwing.com/pngs/425/626/png-transparent-http-404-computer-icons-candidzone-technologies-angle-text-triangle-thumbnail.png" />
    </div>
</body>
</html>
