@model BTL_Mongodb.Models.Banner
@{
    ViewData["Title"] = "Cập nhật banner";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12">
    <div class="ibox-content">
        <h2 class="text-center">Cập nhật banner</h2>
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Edit" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="H1" class="control-label">Tiêu đề lớn (H1)</label>
                <input asp-for="H1" class="form-control" placeholder="Nhập tiêu đề lớn..." />
                <span asp-validation-for="H1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="H6" class="control-label">Tiêu đề nhỏ (H6)</label>
                <input asp-for="H6" class="form-control" placeholder="Nhập tiêu đề nhỏ..." />
                <span asp-validation-for="H6" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="P" class="control-label">Nội dung mô tả (P)</label>
                <textarea asp-for="P" class="form-control" placeholder="Nhập nội dung mô tả..." rows="4"></textarea>
                <span asp-validation-for="P" class="text-danger"></span>
            </div>


            <div class="upload-brand-image">
                <label class="control-label">Ảnh banner</label>
                <div class="file-upload">
                    <button class="file-upload-btn" type="button" onclick="$('.upload-brand-image .file-upload-input').trigger('click')">Add Image</button>
                    <div class="image-upload-wrap">
                        <input name="image" class="file-upload-input" type="file" onchange="readURL(this);" accept="image/*" />
                        <div class="drag-text">
                            <h3>Drag and drop a file or select Add Image</h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="@(string.IsNullOrEmpty(Model.Image) ? "#" : Model.Image)" alt="your image" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group text-right mt-3">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>


@section Styles {
    <style>
        /* Dùng lại y chang style của Brand */
        .upload-brand-image {
            margin-top: 20px;
        }

            .upload-brand-image .file-upload {
                background-color: #ffffff;
                width: 100%;
                margin: 0 auto;
                padding: 20px;
            }

            .upload-brand-image .file-upload-btn {
                width: 100%;
                margin: 0;
                color: #fff;
                background: #1FB264;
                border: none;
                padding: 10px;
                border-radius: 4px;
                border-bottom: 4px solid #15824B;
                transition: all .2s ease;
                outline: none;
                text-transform: uppercase;
                font-weight: 700;
            }

                .upload-brand-image .file-upload-btn:hover {
                    background: #1AA059;
                    color: #ffffff;
                    cursor: pointer;
                }

            .upload-brand-image .file-upload-content {
                display: none;
                text-align: center;
            }

            .upload-brand-image .file-upload-input {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }

            .upload-brand-image .image-upload-wrap {
                margin-top: 20px;
                border: 4px dashed #1FB264;
                position: relative;
            }

                .upload-brand-image .image-upload-wrap:hover,
                .upload-brand-image .image-upload-wrap.image-dropping {
                    background-color: #1FB264;
                    border: 4px dashed #ffffff;
                }

            .upload-brand-image .image-title-wrap {
                padding: 0 15px 15px 15px;
            }

            .upload-brand-image .drag-text {
                text-align: center;
            }

                .upload-brand-image .drag-text h3 {
                    font-weight: 100;
                    text-transform: uppercase;
                    color: #15824B;
                    padding: 60px 0;
                }

            .upload-brand-image .file-upload-image {
                max-height: 200px;
                max-width: 200px;
                margin: auto;
                padding: 20px;
            }

            .upload-brand-image .remove-image {
                width: 200px;
                margin: 0 auto;
                background: #cd4535;
                color: #fff;
                padding: 10px;
                border: none;
                border-radius: 4px;
                border-bottom: 4px solid #b02818;
                font-weight: 700;
                text-transform: uppercase;
            }

                .upload-brand-image .remove-image:hover {
                    background: #c13b2a;
                    cursor: pointer;
                }
    </style>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            var hasImage = '@(string.IsNullOrEmpty(Model.Image) ? "false" : "true")';
            if (hasImage === "true") {
                $('.upload-brand-image .image-upload-wrap').hide();
                $('.upload-brand-image .file-upload-content').show();
            }

            $('.upload-brand-image .file-upload-input').on('change', function () {
                readURL(this);
            });

            $('.upload-brand-image .image-upload-wrap').on('dragover', function () {
                $(this).addClass('image-dropping');
            });

            $('.upload-brand-image .image-upload-wrap').on('dragleave', function () {
                $(this).removeClass('image-dropping');
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-brand-image .image-upload-wrap').hide();
                    $('.upload-brand-image .file-upload-image').attr('src', e.target.result);
                    $('.upload-brand-image .file-upload-content').show();
                    $('.upload-brand-image .image-title').html(input.files[0].name);
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            var cloneInput = $('.upload-brand-image .file-upload-input').clone();
            $('.upload-brand-image .file-upload-input').replaceWith(cloneInput);
            $('.upload-brand-image .file-upload-content').hide();
            $('.upload-brand-image .image-upload-wrap').show();
            cloneInput.on('change', function () {
                readURL(this);
            });
        }
    </script>
}
