<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            @if (User.Identity.IsAuthenticated)
            {
                <span>Hello, @User.Identity.Name</span>
                <a asp-controller="AccountUser" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">Logout</a>
            }
            else
            {
                <a asp-controller="AccountUser" asp-action="Login">Login</a>
                <a asp-controller="AccountUser" asp-action="Register">Register</a>
            }
        </div>

        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="/site/img/icon/search.png" alt=""></a>
        <a href="#"><img src="/site/img/icon/heart.png" alt=""></a>
        <a href="#"><img src="/site/img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Welcome to my shop (quandev01)</p>
    </div>
</div>
