@model List<BTL_Mongodb.Models.Category>

<h2>Danh sách danh mục</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tên danh mục</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
